@media (max-width: 768px) { /* use the max to specify at each container level */
    .specifictd {    
        width:360px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}
html, body{
    font-family: 'Arvo', serif;
    margin: 0;
    height: 100%;
}

.container-fluid{
    padding-top: 2rem;
}
.confirmed_h{
    color: red;
    text-align: center;
}
.recovered_h{
    color: rgb(15, 117, 10);
    text-align: center;
}

.active_h{
    color: rgb(24, 73, 207);
    text-align: center;
}

.deceased_h{
    color: rgb(131, 132, 134);
    text-align: center;
}


#main{
    display: flex;
    flex-flow: row;
    height: 100%;
}

#main_left{
    float:left;
    width:48%;
    margin-left: 2%;
}

#main_right{
    float:left;
    width:48%;
    margin-left: 2%;
}

.row{
    margin-bottom: 8%;
}

.table{
    font-size: 13px;
    margin-bottom: 0;
}

.table-sm{
    display: block;
    max-width: 95%;
    overflow: hidden;
}

td{
    word-wrap: break-word;
    min-width: 145px;
    max-width: 145px;
}
.hiddenRow {
    padding: 0 !important;
}
.hiddenRow ::before{
    display: none;
}
.table-nested{
    margin-top: 5%;
    margin-left: 10%
}

#main_right > #container {
    height: 700px; 
    min-width:500px; 
    max-width: 800px; 
    margin: 0 auto; 
}

#countbox{
    width: 120px;
    height: 70px;
    float: left;
    margin: 4%;
    padding: 1%;
    border-radius: 5%;
}

#countbox > p{
    font-size: 20px;
}