<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
        <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
        <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/mapdata/countries/in/in-all.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: rgba(32,26,162,.12549);margin-bottom: 2%;">
            <a class="navbar-brand" href="#">Test</a>
        </nav>
        <div class="container-fluid">
            {% block content %}

            {% endblock content %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>